@use 'setting' as s;

body {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.08em;
    line-height: 1.5;
    color: s.$colorBlack;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.u-sectionTitle {
    font-size: 36px;
    color: s.$colorBlue;
    font-weight: bold;
    letter-spacing: 0.08em;
    position: relative;

    @include s.mq(tab) {
        font-size: 32px;
    }

    &::before {
        content: "";
        position: absolute;
        width: 26px;
        height: 27px;
        background: transparent url(../img/title-image.png) no-repeat center/cover;
        left: -35px;
        top: 8px;

        @include s.mq(tab) {
            width: 19px;
            height: 19px;
            left: 0;
            top: -21px;
        }
    }
}

.u-sectionTitle--sub {
    letter-spacing: 1.6px;
    color: s.$colorYellow;
    margin-top: 6px;

    @include s.mq(tab) {
        font-size: 13px;
        letter-spacing: 0.53px;
        margin-top: 0;
    }
}

.u-btn {
    padding: 18px 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 36px;
    background-color: s.$colorBtn;
    color: s.$colorWhite;

    @include s.mq(tab) {
        padding: 20px 60px;
    }

    p {
        font-size: 14px;
        letter-spacing: 0.03em;

        @include s.mq(tab) {
            font-size: 16px;
        }
    }

    img {
        width: 38px;
        height: 4px;
        transition: all 0.3s;

        @include s.mq(tab) {
            width: 43px;
            height: 5px;
        }
    }

    &:hover img {
        transform: translateX(20px);
    }
}